.ipynb_checkpoints
.pytest_cache
__pycache__
venv
.env
projects/
notebooks/outputs/
notebooks/temp/
output
inputs.txt
tmp/
bin/runpodctl
models/
client_secrets.json
oauth2.json
terraform/.terraform
terraform/.terraform.lock.hcl
terraform/*.tfstate*
