loras/AICPHeater.safetensors filter=lfs diff=lfs merge=lfs -text
loras/KristannaTX.safetensors filter=lfs diff=lfs merge=lfs -text
data/ filter=lfs diff=lfs merge=lfs -text
config/ filter=lfs diff=lfs merge=lfs -text
config/inference/sd15-unet3d.json filter=lfs diff=lfs merge=lfs -text
config/inference/sd15-unet.json filter=lfs diff=lfs merge=lfs -text
config/prompts/03-RcnzCartoon.json filter=lfs diff=lfs merge=lfs -text
config/prompts/04-MajicMix.json filter=lfs diff=lfs merge=lfs -text
config/prompts/05-RealisticVision.json filter=lfs diff=lfs merge=lfs -text
config/prompts/06-Tusun.json filter=lfs diff=lfs merge=lfs -text
config/prompts/concat_2horizontal.bat filter=lfs diff=lfs merge=lfs -text
config/prompts/07-FilmVelvia.json filter=lfs diff=lfs merge=lfs -text
config/prompts/prompt_travel.json filter=lfs diff=lfs merge=lfs -text
config/inference/motion_v2.json filter=lfs diff=lfs merge=lfs -text
config/prompts/08-GhibliBackground.json filter=lfs diff=lfs merge=lfs -text
config/prompts/ignore_tokens.txt filter=lfs diff=lfs merge=lfs -text
config/inference/default.json filter=lfs diff=lfs merge=lfs -text
config/prompts/01-ToonYou.json filter=lfs diff=lfs merge=lfs -text
config/prompts/02-Lyriel.json filter=lfs diff=lfs merge=lfs -text
config/prompts/prompt_travel_multi_controlnet.json filter=lfs diff=lfs merge=lfs -text
config/prompts/to_8fps_Frames.bat filter=lfs diff=lfs merge=lfs -text
data/ref_image/ref_sample.png filter=lfs diff=lfs merge=lfs -text
data/share/Stable-diffusion filter=lfs diff=lfs merge=lfs -text
data/share/VAE filter=lfs diff=lfs merge=lfs -text
data/controlnet_image/test filter=lfs diff=lfs merge=lfs -text
data/ip_adapter_image/test filter=lfs diff=lfs merge=lfs -text
data/models/DWPose filter=lfs diff=lfs merge=lfs -text
data/models/sd filter=lfs diff=lfs merge=lfs -text
data/models/huggingface filter=lfs diff=lfs merge=lfs -text
data/models/motion-module filter=lfs diff=lfs merge=lfs -text
data/ref_image/put_pngs_here.txt filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
config/** filter=lfs diff=lfs merge=lfs -text
