pydantic==2.3.0
Django==4.2.5
django-ninja==1.0b1
uvicorn==0.23.2
debugpy==1.8.0
PyYAML==6.0.1 
#django-ninja-jwt==5.2.5 those won't work, will probably use once django ninja is out of beta
#django-Ninja-Extra==0.19.3